/* **********************Navigation*************************** */
body{
    min-width: 450px;
    background-color: #f7f7f9;
}
ul, li {
    margin: 0;
    padding: 0;
    }
.navigation-box{
    margin-top: 6rem;
    margin-bottom: .5rem;
}
.navigation{
    margin-top: 6rem;
    margin-bottom: .5rem;
}
.navigation a{
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: .95rem;
}
/* ************************listing-stores******************** */
.all-stores{
    margin: 1rem 0rem;
}
.all-stores .store-box{
    border-radius: 12px;
    background-color: #fff;
}
.store-box .store-image{ 
    border-radius: 12px 12px 0px 0px;
}
.store-box .store-image img{ 
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    box-sizing: border-box;
}
.store-box .store-content{ 
    border-radius: 0px 0px 12px 12px;
    padding: 0px 0rem  .4rem .4rem;
    border-top: 1px solid #bfbdbd;
}
.store-content ul li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: #323232;
}
.store-content .code{
    background-color: #a479ff;
    display: inline-block;
    color: #fff;
    padding: .05rem .4rem;
    border-radius: 3px;
}
.store-content .sale{
    background-color: #0598c4;
    display: inline-block;
    color: #fff;
    padding: .05rem .4rem;
    border-radius: 3px;
}
.store-content ul li:nth-of-type(1){
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: .25rem;
}
.store-content ul li:nth-of-type(2){
    font-size: .95rem;
    margin-top: .25rem;
    font-weight: 500;
}
.store-content ul li:nth-of-type(3){
    font-size: .8rem;
    margin: .2rem 0px;

}
.store-btn{
    padding-bottom: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store-btn a{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .4rem 1.8rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #323232;
}
.store-btn a i{
    font-weight: 600;
}
.store-btn a:hover{
    background-color: #f4efef;
    border: 1px solid #f4efef;
    color: #030337;
}
@media(max-width:576px){
    .all-stores .store-box{
        display: flex;
    }
    .store-box .store-image{ 
        border-radius: 12px 0px 0px 12px;
        max-width: 38%;
    }
    .store-box .store-image img{ 
        display: block;
        margin: auto;
        max-width: 90%;
        border-radius: 0px;
        height: 100%;
        object-fit: contain;
    }
    .store-box .store-content{ 
        border-radius: 0px 12px 12px 0px;
        border-top: none;
    }
    .store-btn a{
        margin-right: .3rem;
    }
}
/* ***********************page-count************************** */
.page-count{
    margin-top: 3.2rem;
    margin-bottom: 4rem;
}
.page-count span{
    font-weight: 600;
    font-size: 1.2rem;
}
.page-count button{
    border-radius: 1.76rem;
    padding: .35rem 1.8rem;
    background-color: #0598c4;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    margin: 1rem;
    text-align: center;
    border: 2px solid #0598c4;
    transition: .3s ease-in;
}
.page-count button:hover{
    background-color: transparent;
    border: 2px solid #323232;
    color: #000;
}